
#q2-container{
    
    max-width:1024px;
    min-height:775px;
    background-color:white;
    padding-bottom:50px;
}

.account-wrapper {
    min-height: 200px;
    padding: 10px 10px 30px 10px;
    margin-top: 30px;
    border-radius: 50px;
    background-color: #C0C0C0;

    div.row {
        margin: 0;
    }

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .mainSummary {
        height: 170px;

        .leftPanel {
            height: 100%;
            padding-top: 20px;

            .accountName {
                font-weight: 700;
                font-size: 20px;
            }

            .accountDetails {
                padding-left: 30px;
                font-weight: 600;
                font-size: 16px;
            }
        }

        .rightPanel {
            height: 100%;
            padding-top: 30px;

            .verified {
                font-weight: 700;
                font-size: 20px;
                color: green;
            }

            .inprocess {
                font-weight: 700;
                font-size: 20px;
                color: yellow;
            }

            .invalid {
                font-weight: 700;
                font-size: 20px;
                color: red;
            }

            .removeAccount {
                margin-top: 10px;
            }
        }
    }

    div.detailsBar {
        margin: 0 20px;
        background-color: #B0B0B0;
        height: 20px;
        border-radius: 5px 5px 0 0;
        padding: 2px 10px 0 10px;
        text-align: center;

        &:hover {
            background-color: #A8A8A8;
        }
    }

    .transferDetails-wrapper {
        padding: 0 35px;

        .transferDetails {            
            padding-top: 8px;
            padding-bottom: 8px;
            margin-bottom:20px;
            border-radius: 0 0 5px 5px;
            background-color: #D0D0D0;

            hr {
                margin: 10px 0;
            }

            .detailsTitle {
                padding-bottom: 8px;
            }

            .transHeader, transHeader {
                border-bottom: 1px solid black;
            }

            .glyphicon {
                text-align: center;
                color: green;
            }

            .noPad {
                padding: 0;
            }
        }
    }
}

#addNewExternalAccount{
    margin:30px;
    .glyphicon-plus {
        color: green;
        font-size: 50px;
        font-weight: 800;
    }
}





#testcontainer {
    position: relative;

    li {
        div {
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

            span {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;

                svg {
                    max-height: 56px;
                    max-width: 84px;
                    width: 75%;
                }
            } 
        }
    }
}