#q2-container {
  max-width: 1024px;
  min-height: 775px;
  background-color: white;
  padding-bottom: 50px; }

.account-wrapper {
  min-height: 200px;
  padding: 10px 10px 30px 10px;
  margin-top: 30px;
  border-radius: 50px;
  background-color: #C0C0C0; }
  .account-wrapper div.row {
    margin: 0; }
  .account-wrapper:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .account-wrapper .mainSummary {
    height: 170px; }
    .account-wrapper .mainSummary .leftPanel {
      height: 100%;
      padding-top: 20px; }
      .account-wrapper .mainSummary .leftPanel .accountName {
        font-weight: 700;
        font-size: 20px; }
      .account-wrapper .mainSummary .leftPanel .accountDetails {
        padding-left: 30px;
        font-weight: 600;
        font-size: 16px; }
    .account-wrapper .mainSummary .rightPanel {
      height: 100%;
      padding-top: 30px; }
      .account-wrapper .mainSummary .rightPanel .verified {
        font-weight: 700;
        font-size: 20px;
        color: green; }
      .account-wrapper .mainSummary .rightPanel .inprocess {
        font-weight: 700;
        font-size: 20px;
        color: yellow; }
      .account-wrapper .mainSummary .rightPanel .invalid {
        font-weight: 700;
        font-size: 20px;
        color: red; }
      .account-wrapper .mainSummary .rightPanel .removeAccount {
        margin-top: 10px; }
  .account-wrapper div.detailsBar {
    margin: 0 20px;
    background-color: #B0B0B0;
    height: 20px;
    border-radius: 5px 5px 0 0;
    padding: 2px 10px 0 10px;
    text-align: center; }
    .account-wrapper div.detailsBar:hover {
      background-color: #A8A8A8; }
  .account-wrapper .transferDetails-wrapper {
    padding: 0 35px; }
    .account-wrapper .transferDetails-wrapper .transferDetails {
      padding-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 20px;
      border-radius: 0 0 5px 5px;
      background-color: #D0D0D0; }
      .account-wrapper .transferDetails-wrapper .transferDetails hr {
        margin: 10px 0; }
      .account-wrapper .transferDetails-wrapper .transferDetails .detailsTitle {
        padding-bottom: 8px; }
      .account-wrapper .transferDetails-wrapper .transferDetails .transHeader, .account-wrapper .transferDetails-wrapper .transferDetails transHeader {
        border-bottom: 1px solid black; }
      .account-wrapper .transferDetails-wrapper .transferDetails .glyphicon {
        text-align: center;
        color: green; }
      .account-wrapper .transferDetails-wrapper .transferDetails .noPad {
        padding: 0; }

#addNewExternalAccount {
  margin: 30px; }
  #addNewExternalAccount .glyphicon-plus {
    color: green;
    font-size: 50px;
    font-weight: 800; }

#testcontainer {
  position: relative; }
  #testcontainer li div {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    #testcontainer li div span {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline; }
      #testcontainer li div span svg {
        max-height: 56px;
        max-width: 84px;
        width: 75%; }
